<div>
  <label>Uzunluk</label>
  <input #lengthPass type="text" (change)="modifyPasswrodLength($event)">
</div>
<div>
  <label>Harf Kullan</label>
  <input type="checkbox" (change)="modifyUseLetter()">
</div>
<div>
  <label>Sayıları Kullan</label>
  <input type="checkbox" (change)="modifyuseNumber()">
</div>
<div>
  <label>Sembolleri Kullan</label>
  <input type="checkbox" (change)="modifyuseSembol()">
</div>

<div>
 <button [disabled]="!passwordLength&&(!useLetter||!useSembol||!useNumber)" (click)="createPassword()" >Oluştur</button>
</div>

<div>
  <label>şifreniz</label>
  <input  type="text" [value]="createdPassword">
</div>
